.DS_Store
VirtualFPV/Library
VirtualFPV/Temp
VirtualFPV/obj
VirtualFPV/Logs
VirtualFPV/.vs
*.csproj
*.sln
*.userprefs
*.zip
VirtualFPV/.vscode/
VirtualFPV/logdata/gps_data_2*.txt
VirtualFPV/build/*.app
VirtualFPV/build/*.exe
VirtualFPV/build/*.dll
VirtualFPV/build/Mono/
VirtualFPV/build/VirtualFPV_Data/
VirtualFPV/build/logdata/gps_data_2*.txt
VirtualFPV/Assets/Resources/Mapbox/
VirtualFPV/Assets/OSC/*
!VirtualFPV/Assets/OSC/README.md
VirtualFPV/Assets/PostProcessing/*
!VirtualFPV/Assets/PostProcessing/README.md
VirtualFPV/Assets/Standard Assets/
VirtualFPV/Assets/MapboxAR
VirtualFPV/Assets/Mapbox
VirtualFPV/Assets/GoogleARCore
VirtualFPV/Assets/UnityARKitPlugin
VirtualFPV/Assets/UnityARInterface
VirtualFPV/Assets/ThirdPartyAssets
VirtualFPV/UnityPackageManager
